<h1>About us</h1>
<p class="lead">Woah, someone's got friends.</p>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/000/160/254/1ecf139.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-9">
          <h2 class="featurette-heading">Andrew Edgar. <span class="text-muted">Head of Racquets.</span></h2>
          <p class="lead">Some witty text here. Pug et cray, velit try-hard ad sapiente. Craft beer farm-to-table bespoke enim esse. In pug church-key, aliquip fugiat velit cupidatat excepteur mixtape wayfarers Vice nisi. </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-9">
          <h2 class="featurette-heading">Henry Imber. <span class="text-muted">Head of Balls.</span></h2>
          <p class="lead">Some more witty text here.  Single-origin coffee hella Bushwick sunt dreamcatcher sapiente. Wolf 3 wolf moon VHS adipisicing, ugh PBR hashtag. Farm-to-table Cosby sweater small batch, exercitation pork belly McSweeney's disrupt.</p>
        </div>
        <div class="col-md-3">
          <img class="featurette-image img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash1/c96.0.295.295/s160x160/4263_79137429652_5105743_n.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->