

<div class="jumbotron">
<h1>Yoyoyo</h1>

<p>Welcome to Squashnight.com - the UK's most original Tuesday evening activity</p> 
</div>

   <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://s12.postimg.org/wlv18zkux/calendar.jpg" data-src="holder.js/140x140" alt="Calendar">
          <h2>Pick a date</h2>
          <p>First we pick a date. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          <p><a class="btn btn-default" href="#">Set a date &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://s10.postimg.org/lzjx7hglh/beer.jpg" data-src="holder.js/140x140" alt="Beer">
          <h2>Have some beer</h2>
          <p>Then we drink some beer, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo.</p>
          <p><a class="btn btn-default" href="#">Drink beer &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://s22.postimg.org/l57fs0ynx/jesus.jpg" data-src="holder.js/140x140" alt="Jesus">
          <h2>Invent catchphrases</h2>
          <p>Or whatever. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus.</p>
          <p><a class="btn btn-default" href="#">Yoyoyo &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


    </div><!-- /.container -->
